<header>
  <nav class="navclass">
    <div class="container flex-align-i-center">
      <a href="">
        <h4 class="me-4">WebApp</h4>
      </a>
      <a href="" class="nav-item ms-4 me-2" data-bs-toggle="active">Strona główna</a>
      <a href="" class="nav-item mx-2">Produkty</a>
      <div class="ms-auto dropdown">
        <a class="nav-item" type="button" id="dropdownAccount" >Konto</a>
        <div class="dropdown-menu" aria-labelledby="dropdownAccount">
          <div class="account-box">
            <a href="" class="login">Zaloguj</a>
          </div>
          <div class="account-box">
            <a href="" class="login">Zarejestruj</a>
          </div>
          <!-- <a class="dropdown-item" href="">Account</a>
          <a class="dropdown-item" href="">Logout</a> -->
      </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    Test2
  </div>
</main>
